In [2]:
import pandas as pd

# Sample DataFrame
df = pd.read_csv(r'C:\Users\aks\Desktop\zigguratss\image_descriptions.csv')
df.head()

,ImageID,Image,Description,Keywords
0,0,/content/drive/MyDrive/zigguratss-artwork-data...,a drawing of a flower in a circle,"flower, drawing, circle"
1,1,/content/drive/MyDrive/zigguratss-artwork-data...,a drawing of a fish in a circle,"fish, drawing, circle"
2,2,/content/drive/MyDrive/zigguratss-artwork-data...,a painting of a woman sitting on a chair,"woman sitting, painting, chair"
3,3,/content/drive/MyDrive/zigguratss-artwork-data...,a painting of a woman with a basket and a bird,"woman, painting, bird, basket"
4,4,/content/drive/MyDrive/zigguratss-artwork-data...,a painting of three women in a garden,"three women, painting, garden"

In [3]:
prefix_to_remove = '/content/drive/MyDrive/zigguratss-artwork-dataset/artwork-dataset/'

# Remove the prefix
df['Image'] = df['Image'].str.replace(prefix_to_remove, '', regex=False)

print("\nUpdated DataFrame:")
print(df.head())

# Save the updated DataFrame back to the same CSV file
df.to_csv(r'C:\Users\aks\Desktop\zigguratss\image_descriptions.csv', index=False)

Updated DataFrame:
   ImageID          Image                                     Description  \
0        0    image_0.jpg               a drawing of a flower in a circle
1        1    image_1.jpg                 a drawing of a fish in a circle
2        2   image_10.jpg        a painting of a woman sitting on a chair
3        3  image_100.jpg  a painting of a woman with a basket and a bird
4        4  image_101.jpg           a painting of three women in a garden

                         Keywords
0         flower, drawing, circle
1           fish, drawing, circle
2  woman sitting, painting, chair
3   woman, painting, bird, basket
4   three women, painting, garden

In [4]:
df.head(10)

,ImageID,Image,Description,Keywords
0,0,image_0.jpg,a drawing of a flower in a circle,"flower, drawing, circle"
1,1,image_1.jpg,a drawing of a fish in a circle,"fish, drawing, circle"
2,2,image_10.jpg,a painting of a woman sitting on a chair,"woman sitting, painting, chair"
3,3,image_100.jpg,a painting of a woman with a basket and a bird,"woman, painting, bird, basket"
4,4,image_101.jpg,a painting of three women in a garden,"three women, painting, garden"
5,5,image_102.jpg,a painting of a woman with a pink dress,"pink dress, woman, painting"
6,6,image_103.jpg,a painting of a lion in the clouds,"painting, lion, clouds"
7,7,image_104.jpg,a painting of a lion with green foliage on its...,"green foliage, painting, lion, head"
8,8,image_105.jpg,a painting of a rock with a tree growing on it,"tree growing, rock, painting"
9,9,image_106.jpg,a lion with a fire on its face,"lion, fire, face"